<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deerSYS.business.simpleApply.dao.mapper.SimpleApplyDaoMapper">

	<select id="simpleApplyList" parameterType="HashMap" resultType="HashMap">
		select * from simpleApply
			where 1=1
			<if test="simpleApplyId != '' and simpleApplyId != null">
				and simpleApplyId = #{simpleApplyId}
			</if>
	</select>
	
</mapper>
